

   <div  class="row center-align" >

    <div class="col s12 m3">
      <div id="profile-card" class="card custom-card   animate fadeRight ">
        <div class="card-image custom-image-card waves-effect waves-block waves-light custom-image-card" style="background: lightgrey;">
            <img src="assets/Enmascarar.png" alt="user bg">
        </div>
            <div class="card-content ">
                <a class="btn-floating activator btn-move-up waves-effect waves-light accent-2 z-depth-4 right"  style="background-color:#FF6900">
                    <i class="material-icons">remove_red_eye</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right" style="background-color: #1E22AA" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-edit" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">edit</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right @(@Model.ActionsPermission.Borrar" style="background-color: #707070" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-delete" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">delete</i>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore rerum consequuntur atque exercitationem necessitatibus corrupti vel recusandae iusto? Dignissimos soluta voluptates voluptas! Sunt recusandae quo, at aliquid consectetur obcaecati.</p>
            </div>

    </div>

    </div>
    <div class="col s12 m3">
      <div id="profile-card" class="card custom-card   animate fadeRight ">
        <div class="card-image custom-image-card waves-effect waves-block waves-light custom-image-card" style="background: lightgrey;">
            <img src="assets/Enmascarar.png" alt="user bg">
        </div>
            <div class="card-content ">
                <a class="btn-floating activator btn-move-up waves-effect waves-light accent-2 z-depth-4 right"  style="background-color:#FF6900">
                    <i class="material-icons">remove_red_eye</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right" style="background-color: #1E22AA" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-edit" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">edit</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right @(@Model.ActionsPermission.Borrar" style="background-color: #707070" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-delete" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">delete</i>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore rerum consequuntur atque exercitationem necessitatibus corrupti vel recusandae iusto? Dignissimos soluta voluptates voluptas! Sunt recusandae quo, at aliquid consectetur obcaecati.</p>
            </div>

    </div>

    </div>
    <div class="col s12 m3">
      <div id="profile-card" class="card custom-card   animate fadeRight ">
        <div class="card-image custom-image-card waves-effect waves-block waves-light custom-image-card" style="background: lightgrey;">
            <img src="assets/Enmascarar.png" alt="user bg">
        </div>
            <div class="card-content ">
                <a class="btn-floating activator btn-move-up waves-effect waves-light accent-2 z-depth-4 right"  style="background-color:#FF6900">
                    <i class="material-icons">remove_red_eye</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right" style="background-color: #1E22AA" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-edit" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">edit</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right @(@Model.ActionsPermission.Borrar" style="background-color: #707070" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-delete" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">delete</i>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore rerum consequuntur atque exercitationem necessitatibus corrupti vel recusandae iusto? Dignissimos soluta voluptates voluptas! Sunt recusandae quo, at aliquid consectetur obcaecati.</p>
            </div>

    </div>

    </div>
    <div class="col s12 m3">
      <div id="profile-card" class="card custom-card   animate fadeRight ">
        <div class="card-image custom-image-card waves-effect waves-block waves-light custom-image-card" style="background: lightgrey;">
            <img src="assets/Enmascarar.png" alt="user bg">
        </div>
            <div class="card-content ">
                <a class="btn-floating activator btn-move-up waves-effect waves-light accent-2 z-depth-4 right"  style="background-color:#FF6900">
                    <i class="material-icons">remove_red_eye</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right" style="background-color: #1E22AA" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-edit" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">edit</i>
                </a>
                <a class="btn-floating btn-move-up waves-effect waves-light accent-2 z-depth-4 right @(@Model.ActionsPermission.Borrar" style="background-color: #707070" data-turbolinks="false">
                    <i class="material-icons terminal-action terminal-delete" data-terminalid="@terminal.IdTerminal" data-terminalname="@terminal.Terminal">delete</i>
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolore rerum consequuntur atque exercitationem necessitatibus corrupti vel recusandae iusto? Dignissimos soluta voluptates voluptas! Sunt recusandae quo, at aliquid consectetur obcaecati.</p>
            </div>

    </div>

    </div>
  </div>

