<nav class="row">
  <div class="nav-wrapper nav-wrapper-kairos col s12 m12">
    <a href="/assets/logo-kairos.svg" class="brand-logo" style="width: 100px; height: 100px;"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li ><a [routerLink]="['/botones']">Botones</a></li>
      <li ><a [routerLink]="['/tarjetas']">Cards</a></li>
      <li routerLinkActive="active" ><a [routerLink]="['/modal']">PopUps</a></li>
      <li routerLinkActive="active"><a routerLink="#">DataTable</a></li>
      <li routerLinkActive="active"><a routerLink="#">Toast</a></li>
      <li routerLinkActive="active"><a routerLink="#">Dropdown</a></li>
    </ul>
  </div>
</nav>




