
<div class="row center-align" style="margin-top: 2rem; display: flex; justify-content: center; align-items: center;">
  <div class="col s12 m6">
    <button class="custom-btn custom-btn-primary darken-4  d-flex waves-effect waves-light " type="text">button</button>
  </div>

  <div class="col s12 m6">
    <button class="custom-btn custom-btn-outline darken-4  d-flex waves-effect waves-light" type="text">button</button>
  </div>

  <div class="col s12 m6" >
    <button class="custom-btn custom-btn-gradient darken-4  d-flex waves-effect waves-light" type="text">button</button>
  </div>

  <div class="col s12 m6" >
    <button class="custom-btn custom-btn-gradient darken-4 disabled  d-flex waves-effect waves-light" type="text">button</button>
  </div>
  <div class="col s12 m6" >
    <button class="custom-btn custom-btn-secundary darken-4  d-flex waves-effect waves-light" type="text">button</button>
  </div>
</div>


